@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 10.98%;
      --foreground: 153 33% 99%;
      --muted: 123 0% 16.27%;
      --muted-foreground: 123 12% 72%;
      --popover: 0 0% 13.73%;
      --popover-foreground: 153 33% 99%;
      --card: 0 0% 13.73%;
      --card-foreground: 153 33% 99%;
      --border: 153 12% 12%;
      --input: 153 12% 12%;
      --primary: 150.61 47.12% 40.78%;
      --primary-foreground: 0 0% 100%;
      --secondary: 0 0% 21.03%;
      --secondary-foreground: 0 0% 100%;
      --accent: 132.72 38.05% 47.42%;
      --accent-foreground: 183 69% 1%;
      --destructive: 360 97% 54%;
      --destructive-foreground: 0 0% 98.89%;
      --ring: 153 69% 41%;
    }

  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }
